.custom-underline::after {
    content: '';
    display: block;
    width: 180px; 
    height: 1px; 
    background-color: rgb(255, 255, 255); 
    margin-top: 15px; 
  }
  
.transition-transform {
    transition: transform 0.3s ease; 
}

.rotate-180 {
    transform: rotate(180deg); 
}


.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgb(6, 98, 246) rgb(255, 255, 255); 
}