.custom-underline::after {
    content: '';
    display: block;
    width: 180px; 
    height: 1px; 
    background-color: rgb(255, 255, 255); 
    margin-top: 15px; 
  }
  
.transition-transform {
    transition: transform 0.3s ease; 
}

.rotate-180 {
    transform: rotate(180deg); 
}


.line {
  fill: none;
  stroke: gray;
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 4;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 4;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}



.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgb(6, 98, 246) rgb(255, 255, 255); 
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
}

.layout {
    display: flex;
    flex-direction: column; 
  }
  
  @media (min-width: 640px) { 
    .layout {
      flex-direction: row; 
    }
  }
  
  nav {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    overflow-y: auto; 
    width: 16rem;
  }
  
  main {
    flex: 1; 
    margin-left: 0; 
    padding: 1rem; 
  }
  
  @media (min-width: 640px) {
    main {
      margin-left: 16rem; 
      padding: 2rem;
    }
  }
  
  .main-content {
    margin-left: 0; 
  }
  
  @media (min-width: 640px) {
    .main-content {
      margin-left: 16rem; 
    }
  }

  .navbar-scroll {
    height: 100vh; 
    overflow-y: auto;
  }